<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tyler Quackenbush Designer & Developer CV</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
   
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


  
    <!-- FontAwesome JS-->
	<script defer src="assets/fontawesome/js/all.min.js"></script>
	
	<!-- Font Awesome-->
	<script src="https://kit.fontawesome.com/51337782c2.js" crossorigin="anonymous"></script>
	
	<!-- Bootstrap-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
  
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/orbit-1.css">
</head> 

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <%= image_tag('profile.jpeg', alt:'Tyler Quackenbush') %>
                <h1 class="name">Tyler Quackenbush</h1>
                <h3 class="tagline">Designer & Developer</h3>
          
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fas fa-envelope"></i><a href="mailto: tyler.qbush@gmail.com">tyler.qbush@gmail.com</a></li>
                    <li class="phone"><i class="fas fa-phone"></i><a href="tel:678 451 4471">(678)451-4471</a></li>
                    <li class="website"><i class="fas fa-globe"></i><a href="https://tylerqbush.github.io/tq/" target="_blank">tylerqbush.github.io/tq/</a></li>
                    <li class="linkedin"><i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/in/tyler-qbush/" target="_blank">linkedin.com/in/tylerqbush</a></li>
                    <li class="github"><i class="fab fa-github"></i><a href="github.com/tylerqbush" target="_blank">github.com/tylerqbush</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">B.A. English</h4>
                    <h5 class="meta">University of North Georgia</h5>
	                    <div class="time">2012 - 2016</div>
                </div><!--//item-->
            </div><!--//education-container-->
            
            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Cycling</li>
                    <li>Photography</li>
                    <li>Swimming</li>
                    <li>Learning</li>
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-user"></i></span>Career Profile</h2>
                <div class="summary">
                    <p>Fast-learning full stack web developer with 6+ years of experience designing beautiful and intuitive interfaces with a user-focused perspective. Excellent communication skills and 3+ years experience working remotely, with a strong passion for learning new skills.</p>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Designer</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">University of North Georgia, Dahlonega</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Collaborate with 40+ departments on a daily basis to ensure content needs and department goals are met as they pertain to web presence.</p>
                        <p>Conducted user testing and research that influenced a site-wide redesign and a content shift to the prospective student audience in an effort to increase enrollment on 5 campuses. </p>  
                        <p>Restructured 20+ site menus to consolidate information and enhance the user experience by analyzing user patterns and trends gathered by Google Analytics.  </p>
                        <p>Designed a landing page for 2FA implementation and instructions that helped over 20,000 students, faculty and staff utilize the new software.  </p>
                        <p>Crafted a custom icon set to bring variability and visual hierarchy to an admissions-focused landing page that was viewed 1,000,000+ times in a year.</p>
                        <p>Created training documentation for the office of communications to ensure proper implementation of cms changes as a result of a complete site redesign.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Content Coordinator</h3>
                            <div class="time">2013 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">App Studios LLC, Dahlonega</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Crafted weekly marketing content for 8 client accounts.</p>  
                        <p>Coordinaed photo and video shoots with 2 client accounts quarterly to ensure a consistent brand and consumer engagement.</p> 
                        <p>Held client meetings to discuss site builds and management, teaching 17 clients self-management practices and explaining to 8 clients the process for in-house management of their site.</p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Photographer</h3>
                            <div class="time">2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Pour Over Photography, Dahlonega</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Built and managed pouroverphoto.com in a way that encouraged the user to schedule a session. </p> 
                        <p>Booked and scheduled clients through the use of online marketing funnels.  </p> 
                        <p>Edited and retouched photos using the Adobe creative suite of products to create a final product that was desirable to the client for purchase.   </p> 
                        <p>Communicated IPS with clients after sessions to deliver a final product.</p> 
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
            
            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-certificate"></i></span>Certifications</h2>
                
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">User Research - Methods and Best Practices</h5>
                          <small>2019</small>
                       </div>
                    <p class="mb-1">
                        <ul>Carry out user research, such as interviews and observations, to ensure that designs are relevant and provide a great user experience.</ul>
                        <ul>Plan user research projects that are valid and ethically sound.</ul>
                        <ul>Reduce time and cost of product design and development through fitting user research into design processes in the most optimal way.</ul>
                        <ul>Provide actionable insights to stakeholders through effectively communicating the results of user research projects.</ul></p>
                        <small>Interaction Design Foundation</small>
                  </a>
                   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">The Practical Guide to Usability</h5>
                          <small>2019</small>
                       </div>
                    <p class="mb-1">
                        <ul>Design user interfaces that are logical and easy for people to understand.</ul>
                        <ul>Analyze how easy it is to use a design through usability evaluations and cognitive walk-throughs.</ul>
                        <ul>Plan and conduct user testing to gather feedback from real users and improve designs.</ul>
                        <ul>Carry out a design process that focuses on usability and human phychology to ensure that designs have a high level of usability.</ul></p>
                        <small>Interaction Design Foundation</small>
                  </a>
                   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Human-Computer Interaction - HCI</h5>
                          <small>2020</small>
                       </div>
                    <p class="mb-1">
                        <ul>Carry out a design process that fucuses on people's needs to ensure that designs are easy and pleasurable to use.</ul>
                        <ul>Create and enhance user interface designs based on principles of human cognition.</ul>
                        <ul>Design engaging user esperiences for desktop, mobile and physical devices.</ul>
                        <ul>Evaluate the user experience of a design through user tests and expert evaluations.</ul></p>
                        <small>Interaction Design Foundation</small>
                  </a>
                   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Affordances: Designing Intuitive User Interfaces</h5>
                          <small>2020</small>
                       </div>
                    <p class="mb-1">
                        <ul>Create designs that are easy to understand by applying knowledge of how people perceive the physical world.</ul>
                        <ul>Design user interfaces with actions that can be easily discovered and used by people.</ul>
                        <ul>Design intuitive feedback on user interfaces, so people will easily understand how to use them.</ul>
                        <ul>Analyze and improve existing user interfaces according to principles of human perception.</ul></p>
                        <small>Interaction Design Foundation</small>
                  </a>
                   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Gestalt Phychology and Web Design: The Ultimate Guide</h5>
                          <small>2020</small>
                       </div>
                    <p class="mb-1">
                        <ul>Carry out a design process that focuses on people's needs and human phychology to ensure that designs are easy and pleasurable to use.</ul>
                        <ul>Create complex interface designs that are visually intuitive to understand and operate - by applying Gestalt principles such as the Law of Similarity and Law of Pragnanz.</ul>
                        <ul>Design user interfaces that are easy to understand by applying knowledge of how human vision and attention works.</ul>
                        <ul>Create intuitive designs that strike a balance between physical controls and digital interfaces, by understanding their benefits and trade-offs.</ul></p>
                        <small>Interaction Design Foundation</small>
                  </a>
                   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Creativity: Methods to Design Better Products and Services</h5>
                          <small>2019</small>
                       </div>
                    <p class="mb-1">
                        <ul>How to carry out ideation sessions, from first idea to developed concept by using hands-on ideation methods, techniques and tools.</ul>
                        <ul>How to plan and time-manage creative projects so they're guaranteed a successful outcome.</ul>
                        <ul>How to use divergent ideation methods to break out of habitual thinking and generate innovative and useful ideas.</ul>
                        <ul>How to use convergent ideation methods to develop ideas further and solve creative problems through analytical thinking.</ul>
                        <ul>How to make space for creativity so the ideas come when they're needed.</ul>
                        <ul>How to build a creative team environment.</ul></p>
                        <small>Interaction Design Foundation</small>
                  </a>
                   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Web Design for Usability</h5>
                          <small>2019</small>
                       </div>
                    <p class="mb-1">
                        <ul>Design web pages that are logical and easy for users to understand.</ul>
                        <ul>Apply the principles of user-centered design to improve the usability of web pages.</ul>
                        <ul>Apply basic accessibility guidelines to web designs to ensure a high level of accessiility.</ul>
                        <ul>Evaluate the effectiveness and usability of alternative design options.</ul></p>
                        <small>Interaction Design Foundation</small>
                  </a>
                   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">UI Design Patters for Successful Software</h5>
                          <small>2020</small>
                       </div>
                    <p class="mb-1">
                        <ul>Speed up design processes through the use of user interface design patterns, such as dropdown menus, tabs and breadcrumbs.</ul>
                        <ul>Reconize and use the most appropreate design patterns for any user interaction to create a complete user interface.</ul>
                        <ul>Organize content to maximize usability, simplify data entry and reduce errors.</ul>
                        <ul>Implement design patterns that facilitate people's needs in a way that is ethically sound - for instance by avoiding dark patterns that manipulate people's behaviors.</ul></p>
                        <small>Interaction Design Foundation</small>
                  </a>
                   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Information Visualization</h5>
                          <small>2020</small>
                       </div>
                    <p class="mb-1">
                        <ul>Design information visualizations which present data in meaningful and understandable ways.</ul>
                        <ul>Design a range of basic and complex information visualizations to ensure the visualization fits the data complexity.</ul>
                        <ul>Create designs that are free of common usability problems related to visual perception.</ul>
                        <ul>Evaluate and improve the effectiveness of an existing information visualization.</ul></p>
                        <small>Interaction Design Foundation</small>
                  </a>
              
                </div><!--//item-->
            </section><!--//section-->
            
             <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>Projects</h2>
                <div class="intro">
                    <p>Projects are in-progress and develop daily as I learn more. Below is a link to my linktree account where these projects can be seen coming to life in real time!</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://linktr.ee/tyler.qbush" target="_blank">LinkTree</a></span> - <span class="project-tagline">Take a look at my current projects on GitHub and Heroku!</span></span>
                    
            </section><!--//section-->
            
            <section class="skills-section section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>Skills &amp; Proficiency</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Ruby on Rails</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 45%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                               
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">UX & UI</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 92%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                              
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">JavaScript</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 75%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="progress level-bar">
							    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 98%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Bootstrap</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                  
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">XD, Phtoshop, Lightroom</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 98%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                 
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
            
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
        
</body>
</html> 

